.vscode-test
.vscode-test-web
node_modules
out
src
webview/src
webview/node_modules
*.ts
*.tsx
!*.d.ts
tsconfig.json
eslint.config.mjs
.prettierrc
.gitignore
vitest.config.ts
.git
coverage
.nyc_output
esbuild.config.ts
**/*.map
